<ion-header>
  <ion-navbar color="dark">
    <ion-title>Audio Page</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>Songs</ion-list-header>
      <ion-item *ngFor="let song of songs; let id = index">
        <ion-thumbnail item-start>
          <img src="{{ song.image }}">
        </ion-thumbnail>
        <h2> {{ song.name }} </h2>
        <ion-icon *ngIf="!song.reproducing" item-right name="play" (click)="play(song)"> </ion-icon>
        <ion-icon *ngIf="song.reproducing" item-right name="pause" (click)="pause(song)"> </ion-icon>
      </ion-item>
  </ion-list>
</ion-content>
